.body {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: grey;
}

body {
    background-color: rgb(39, 39, 39);
}

.paragraph-1 {
    font-size: 35px;
    width: 35rem;
}

.bolded {
    color: white;
}

.left-side-paragraphs {
    padding-left: 50px;
    height: fit-content;
}

.paragraph-1 {
    width: 500px;
    border: 15px;
    margin: 5px;
    height: 150px;
}

.image {
    height: 700pxpx;
    width: 700px;
}

.spacer-1 {
    width: 300px;
}

.paragraph-2 {
    font-size: 30px;
    width: 35rem;
}

.button {
    display: flex;
    font-size: 45px;
    margin-bottom: 400px;
}

.sign-up-for-free {
    color: black;
    border: 3px solid rgb(50, 157, 79);
    padding: 13px;
    padding-bottom: 15px;
    outline: 1px rgb(50, 157, 79);
    background-color: rgb(50, 157, 79);
    margin-right: 7px;
}

.learn-more {
    color: white;
    border: 3px solid black;
    padding: 13px;
    padding-bottom: 15px;
    outline: 1px black;
    background-color: black;
    margin-left: 7px;
}

.codepen-fors {
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    font-size: 18px;
    padding-right: 0px;
}

.teams {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    padding: 15px 92px 15px 86px;
    outline: 1px grey;
    background-color: rgba(72, 72, 72, 0.433);
    width: 300px;
}

.education {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    padding: 15px 92px 15px 86px;
    outline: 1px grey;
    background-color: rgba(72, 72, 72, 0.433);
    width: 300px;
}

.privacy {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    padding: 15px 92px 15px 86px;
    outline: 1px grey;
    background-color: rgba(72, 72, 72, 0.433);
    width: 300px;
}

.writing {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    padding: 15px 92px 15px 86px;
    outline: 1px grey;
    background-color: rgba(72, 72, 72, 0.433);
    width: 300px;
}

.bolded-words {
    color: white;
    font-size: 23px;
    padding-left: 0px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 3px;
}